/* CompactCard.css */

.compact-card {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  padding: .2vmin;
}

.compact-card.selected {
  border: 2px solid yellow;
}

.compact-card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card-image {
  width: 4em; 
  height: calc(4em / 1.573);
  border-radius: 3px;
}


.card-info {
  display: flex;
  flex-direction: column;
}

.card-name {
  color: white;
  font-size: 0.9em;
}

.card-cost {
  position: absolute;
  width: 2.5vmin;
  height: 3.5vmin;
  top: 0vmin;
  RIGHT: 0vmin;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  border-radius: 3px;
}