.digimon {
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform-origin: center bottom;
}

.koromon {
  background-image: url('../assets/images/koromon-sprite.png');
}

.tsunomon {
  background-image: url('../assets/images/tsunomon-sprite.png');
}

.pagumon {
  background-image: url('../assets/images/pagumon-sprite.png');
}

.gummymon {
  background-image: url('../assets/images/gummymon-sprite.png');
}
.minomon {
  background-image: url('../assets/images/minomon-sprite.png');
}
  
.tokomon {
  background-image: url('../assets/images/tokomon-sprite.png');
}

.tsumemon {
  background-image: url('../assets/images/tsumemon-sprite.png');
}

  .agumon {
    background-image: url('../assets/images/agumon-sprite.png');
  }

  .gabumon {
    background-image: url('../assets/images/gabumon-sprite.png');
  }       
  
  .impmon {
    background-image: url('../assets/images/impmon-sprite.png');
  }   

  .patamon {
    background-image: url('../assets/images/patamon-sprite.png');
  }

  .tentomon {
    background-image: url('../assets/images/tentomon-sprite.png');
  }

  .goblimon {
    background-image: url('../assets/images/goblimon-sprite.png');
  }  

  .kamemon {
    background-image: url('../assets/images/kamemon-sprite.png');
  }

  .keramon {
    background-image: url('../assets/images/keramon-sprite.png');
  }

  .terriermon {
    background-image: url('../assets/images/terriermon-sprite.png');
  }

  .greymon {
    background-image: url('../assets/images/greymon-sprite.png');
  }

  .garurumon {
    background-image: url('../assets/images/garurumon-sprite.png');
  }

  .angemon {
    background-image: url('../assets/images/angemon-sprite.png');
  }

  .vilemon {
    background-image: url('../assets/images/greymon-sprite.png');
  } 
  

  .devimon {
    background-image: url('../assets/images/devimon-sprite.png');
  }

  .chrysalimon {
    background-image: url('../assets/images/chrysalimon-sprite.png');
  }

  .wizardmon {
    background-image: url('../assets/images/wizardmon-sprite.png');
  }   

  .revolmon {
    background-image: url('../assets/images/revolmon-sprite.png');
  }  
  
  .sangloupmon {
    background-image: url('../assets/images/sangloupmon-sprite.png');
  }   
  

  .vilemon {
    background-image: url('../assets/images/vilemon-sprite.png');
  } 

  .gargomon {
    background-image: url('../assets/images/gargomon-sprite.png');
  } 
  
  .gawappamon {
    background-image: url('../assets/images/gawappamon-sprite.png');
  } 

  .metalgreymon {
    background-image: url('../assets/images/metalgreymon-sprite.png');
  }

  .shawujingmon {
    background-image: url('../assets/images/shawujingmon-sprite.png');
  }
  
  .skullknightmon {
    background-image: url('../assets/images/skullknightmon-sprite.png');
  }  

  .superstarmon {
    background-image: url('../assets/images/superstarmon-sprite.png');
  }

  .matadormon {
    background-image: url('../assets/images/matadormon-sprite.png');
  }

  .wargreymon {
    background-image: url('../assets/images/wargreymon-sprite.png');
  }

  .jumbogamemon {
    background-image: url('../assets/images/jumbogamemon-sprite.png');
  }
  
  .beelzemon {
    background-image: url('../assets/images/beelzemon-sprite.png');
  }    

  .kimeramon {
    background-image: url('../assets/images/kimeramon-sprite.png');
  }   

  .lucemon {
    background-image: url('../assets/images/lucemon-sprite.png');
  }


  .digimon.dead {
    background-size: 192px 160px; 
    background-position: 0 -80px; 
    width: 96px; 
    height: 80px;
  }
  
  .digimon.dead * {
    animation: none !important;
    transition: none !important;
  }
  /* small spritesheets */
  .tsumemon, .koromon, .tsunomon, .gummymon, .minomon, .tokomon, .pagumon, .agumon, .gabumon, .impmon, .patamon, .tentomon, .kamemon {
    width: 64px;
    height: 80px;
  }

  .tsumemon.breathing, .koromon.breathing, .tsunomon.breathing, .gummymon.breathing, .minomon.breathing, .tokomon.breathing, .pagumon.breathing, .agumon.breathing, .gabumon.breathing, .impmon.breathing, .patamon.breathing, .tentomon.breathing, .kamemon.breathing {
    animation: breathe-small 1.5s steps(1, end) infinite;
  }

  .tsumemon.onHit, .koromon.onHit, .tsunomon.onHit, .pagumon.onHit, .gummymon.onHit, .minomon.onHit, .tokomon.onHit, .agumon.onHit, .gabumon.onHit, .impmon.onHit, .patamon.onHit, .tentomon.onHit, .kamemon.onHit {
    background-size: 192px 160px; 
    background-position: 0 -80px; 
    width: 96px; 
    height: 80px;
  }

  .tsumemon.attacking, .koromon.attacking, .tsunomon.attacking, .gummymon.attacking, .minomon.attacking, .tokomon.attacking, .pagumon.attacking, .agumon.attacking, .gabumon.attacking, .impmon.attacking, .patamon.attacking, .tentomon.attacking, .kamemon.attacking {
    background-size: 192px 160px; 
    background-position: -96px -80px;
    width: 96px; 
    height: 80px;
  }

  
  @keyframes breathe-small {
    0% { background-position: 0 0; }
    25%, 75% { background-position: -64px 0; }
    50% { background-position: -128px 0; }
  }

  .small.onHit {
    background-position: 0 -80px; /* left half of the bottom section */
  }

  .small.attacking {
    background-position: -96px -80px;
  }

  /* Medium sprite */
.chrysalimon, .keramon, .goblimon, .terriermon, .vilemon, .gargomon, .wizardmon, .revolmon, .gawappamon, .skullknightmon, .shawujingmon, .superstarmon, .lucemon {
  width: 112px;
  height: 112px;
}

.chrysalimon.breathing, .keramon.breathing, .goblimon.breathing, .terriermon.breathing, .vilemon.breathing, .gargomon.breathing, .wizardmon.breathing, .revolmon.breathing, .gawappamon.breathing, .skullknightmon.breathing, .shawujingmon.breathing, .superstarmon.breathing, .lucemon.breathing {
  animation: breathe-medium 1.5s steps(1, end) infinite;
}

@keyframes breathe-medium {
  0% { background-position: 0 0; }
  25%, 75% { background-position: -112px 0; }
  50% { background-position: -224px 0; }
}

.chrysalimon.attacking, .keramon.attacking, .goblimon.attacking, .terriermon.attacking, .vilemon.attacking, .gargomon.attacking, .wizardmon.attacking, .revolmon.attacking, .gawappamon.attacking, .skullknightmon.attacking, .shawujingmon.attacking, .superstarmon.attacking, .lucemon.attacking {
  background-size: 336px 256px; /* spritesheet size */
    background-position: -167.5px -112px;
    width: 167.5px; 
    height: 144px;
}

.chrysalimon.onHit, .keramon.onHit, .goblimon.onHit, .terriermon.onHit, .vilemon.onHit, .gargomon.onHit, .wizardmon.onHit, .revolmon.onHit, .gawappamon.onHit, .skullknightmon.onHit, .superstarmon.onHit, .shawujingmon.onHit, .lucemon.onHit {
  background-size: 336px 256px; /* spritesheet size */
    background-position: 0px -112px;
    width: 167.5px; 
    height: 144px;
}

/*big sprite */

.garurumon, .greymon, .angemon, .devimon, .wargreymon {
  width: 112px;
  height: 144px;
}

.garurumon.breathing, .greymon.breathing, .angemon.breathing, .devimon.breathing, .wargreymon.breathing {
  animation: breathe-big 1.5s steps(1, end) infinite;
}

@keyframes breathe-big {
  0% { background-position: 0 0; }
  25%, 75% { background-position: -112px 0; }
  50% { background-position: -224px 0; }
}

.garurumon.attacking, .greymon.attacking, .angemon.attacking, .devimon.attacking, .wargreymon.attacking {
  background-size: 336px 336px; 
    background-position: -168px -144px;
    width: 168px; 
    height: 192px;
}

.garurumon.onHit, .greymon.onHit, .angemon.onHit, .devimon.onHit, .wargreymon.onHit {
  background-size: 336px 336px; 
    background-position: 0px -144px;
    width: 168px; 
    height: 192px;
}


/* Large sprite */
.metalgreymon, .beelzemon, .sangloupmon {
  width: 160px;
  height: 176px;
}

.metalgreymon.breathing, .beelzemon.breathing, .sangloupmon.breathing {
  animation: breathe-large 1.5s steps(1, end) infinite;
}

@keyframes breathe-large {
  0% { background-position: 0 0; }
  25%, 75% { background-position: -160px 0; }
  50% { background-position: -320px 0; }
}

.metalgreymon.attacking, .beelzemon.attacking, .sangloupmon.attacking {
  background-size: 480px 368px; 
    background-position: -240px -176px;
    width: 240px; 
    height: 192px;
}

.metalgreymon.onHit, .beelzemon.onHit, .sangloupmon.onHit {
  background-size: 480px 368px; 
    background-position: 0px -176px;
    width: 240px; 
    height: 192px;
}

.matadormon, .jumbogamemon, .kimeramon {
  width: 208px;
  height: 192px;
}

.matadormon.breathing, .jumbogamemon.breathing, .kimeramon.breathing {
  animation: breathe-huge 1.5s steps(1, end) infinite;
}

@keyframes breathe-huge {
  0% { background-position: 0 0; }
  25%, 75% { background-position: -208px 0; }
  50% { background-position: -416px 0; }
}

.matadormon.attacking, .jumbogamemon.attacking, .kimeramon.attacking {
  background-size: 624px 400px; 
    background-position: -240px -192px;
    width: 312px; 
    height: 208px;
}

.matadormon.onHit, .jumbogamemon.onHit, .kimeramon.onHit {
  background-size: 624px 400px; 
    background-position: 0px -192px;
    width: 312px; 
    height: 208px;
}