.full-card-display {
    position: absolute;
    width: calc(30 * var(--battle-vh));
    background-color: rgba(0, 0, 0, 0.9);
    border: calc(0.2 * var(--battle-vh)) solid #ffd700;
    border-radius: calc(.75 * var(--battle-vh));
    padding: calc(1 * var(--battle-vh));
    color: white;
    z-index: 1000;
    font-family: "Ubuntu Mono", monospace;
    transform-origin: top left;
  }
  
  .card-name {
    font-size: calc(2 * var(--battle-vh));
    margin: 0;
  }


  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

.card-target {
  color: white;
  font-size: calc(1.5 * var(--battle-vh));
  padding: calc(0.2 * var(--battle-vh)) calc(0.5 * var(--battle-vh));
  border-radius: calc(0.2 * var(--battle-vh));
  text-transform: uppercase;
  margin-bottom: calc(1 * var(--battle-vh));
  font-weight: bold;
}

.card-type {
  font-style: italic;
  color: #bbb;
  margin-bottom: 10px;
}

.card-effects {
  margin-bottom: 10px;
}
.card-cost {
    background-color: #ffd700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: calc(2.5 * var(--battle-vh));
    height: calc(2.5 * var(--battle-vh));
    border-radius: 15%;
    font-size: calc(1.4 * var(--battle-vh));
  }
  
  .card-damage {
    font-size: calc(2 * var(--battle-vh));
    margin-bottom: 10px;
  }

  .damage-value {
    color: #ff4500;
    font-weight: bolder;
  }

  .shield-value {
    color: #4ac8fa;
  }

  .heal-value {
    color: #32cd32;
  }

  .extra-info-container {
    flex: 1;
    padding-top: calc(.5 * var(--battle-vh));;
  }
  
  .extra-info-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: calc(.6 * var(--battle-vh));
  }
  
  .extra-info-box h4 {
    color: #ffd700;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .extra-info-box p {
    margin-bottom: 0;
    margin-top: calc(.3 * var(--battle-vh));
    font-size: calc(1.2 * var(--battle-vh));
  }

  
.effect-container {
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.effect-once {
  display: inline-block;
  background-color: #ff4500;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  margin-bottom: 3px;
}

.effect-description {
  margin: 0;
  font-size: 0.9em;
}

.effect-duration {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.duration-icon {
  margin-right: 3px;
}

.duration-value {
  background-color: #4CAF50;
  color: white;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 0.8em;
}

.value {
  font-weight: bolder;
}

.card-effect-value {
    font-size: calc(2 * var(--battle-vh));
    margin-bottom: calc(1 * var(--battle-vh));
  }

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-tag {
  background-color: rgba(255, 215, 0, 0.3);
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.8em;
}