.App {
  text-align: center;
}

.digimon-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.digimon-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.digimon-option:hover {
  background-color: #f0f0f0;
}

.digimon-display {
  margin-top: 20px;
}

img {
  max-width: 100px;
  height: auto;
}

:root {
  --data-color: #85daeb;
  --vaccine-color: #f5daa7;
  --virus-color: #ca60ae;
}